<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dl7.mvp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MvpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">

        <!-- 应用签名:0063c522c5487c0122e5f3b5fb5cf01b -->
        <activity
            android:name=".module.home.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- android:configChanges="orientation|keyboardHidden|screenSize"要加上，不然播放视频翻转后会回收HomeActivity -->
        <activity
            android:name=".module.home.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.news.detail.NewsDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.news.special.SpecialActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.news.photoset.PhotoSetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.news.channel.ChannelActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.photo.bigphoto.BigPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.BigPhotoTheme">
        </activity>
        <activity
            android:name=".module.manage.love.LoveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.manage.setting.SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.video.player.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
            android:name=".module.manage.download.DownloadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".module.video.fullscreen.VideoFullscreenActivity">
        </activity>
        <activity android:name=".module.news.article.NewsArticleActivity"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>